<!DOCTYPE html>

<html lang="en">

<head>
    <% include ../partials/head.ejs %>
</head>

<body class="container">
    <header>
        <% include ../partials/header.ejs %>
    </header>

    <main>
        <div class="jumbotron">
            <h2><%= head.title %></h2>

            <h2>Jon-Kristen Tison</h2>
            
            <p>Hello Express</p>
        </div>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>